Cake Image Generator.json
{
  "name": "Cake Image Generator",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        16,
        208
      ],
      "id": "3bbf3ae1-a1d3-4d8e-8f1a-d620a8cc68fa",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ojOuwGjFsedrgBV6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/models/black-forest-labs/flux-schnell/predictions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer r8_MWs74uC5AI6pq1lxr6JQRKj8nKG8PvY2Cv3Ht"
            },
            {
              "name": "Prefer",
              "value": "wait"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input\": {\n    \"prompt\": \"{{ $json.output }}\"\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        -16
      ],
      "id": "65ad017a-d18c-48f9-b315-42d8495204d9",
      "name": "Generate Image"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert in creating ai cake images.\nI want you to randomise the cake And put a very specific  {{ $json.body.name }} On the cake.\n\nBut remember one thing I don't want you to add anything else other than the prompt In the output. I dont want you to add any quotes Or any other information other than the plain text of the prompt.\n\nAlso wherever you mention to write the name\nInstead of \"{{ $json.body.name }}\" write it \\\"{{ $json.body.name }}\\\"\"\nthe name \\nabin\\ is {{ $json.body.name }}\n\neg : black forest gateau cake spelling out the words \\\"FLUX SCHNELL\\\"\", tasty, food photography, dynamic shot\n\ngive a very detailed prompt so that it can perfectly create the images of the cake",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -80,
        -16
      ],
      "id": "440001e5-7036-41d9-8a7e-ce14f67a49c1",
      "name": "Prompt Generator"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5cfa7429-5637-4c1a-a81c-a53dfb154a5d",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -304,
        -16
      ],
      "id": "23fbd09d-63a5-449a-88f7-fae556de6097",
      "name": "User Sends Request",
      "webhookId": "5cfa7429-5637-4c1a-a81c-a53dfb154a5d"
    },
    {
      "parameters": {
        "url": "={{ $json.output[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        -16
      ],
      "id": "e174bbd7-5eeb-41ba-9183-06bd84c42dbc",
      "name": "Download Image"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        768,
        -16
      ],
      "id": "0eff512d-4cfd-492d-b63e-4ab52a49fdb6",
      "name": "Respond to Requests"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Prompt Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Generator": {
      "main": [
        [
          {
            "node": "Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Sends Request": {
      "main": [
        [
          {
            "node": "Prompt Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Respond to Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "418e71e0-fadb-4c84-bc7c-f547bb2e174f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "803369b330aff65653c557f3d0dd038a389dc95d5e0aa902bc1df630e482e6a7"
  },
  "id": "DE9G0H2GoX4JpP2C",
  "tags": []
}